fastapi
uvicorn[standard]
opencv-python
numpy
websockets
python-dotenv
insightface
onnxruntime-gpu
requests
python-multipart
ultralytics
psutil
imageio-ffmpeg
reportlab
openpyxl
apscheduler
pyjwt
bcrypt
qrcode[pil]
slowapi
